<%- include('partials/header.ejs') -%>
<style>
    .list-group {
      box-shadow: 0 0 10px rgba(0,0,0,0);
    }
    </style>
<div class="container w-50 mb-4">
    <h3 class = 'text-center py-4 text-primary'>Task Manager</h3>
    <!-- create a new task -->
    <form action="/api/v1/tasks" class = 'mb-3 text-center' method="post">
        <div class="input-group py-4">
            <input type="text" class="form-control" placeholder="Enter Your Task here" name="name">
            <button type="submit" class="btn btn-success ms-2" >Add Task</button>
        </div>
    </form>
    <!-- end of create task -->
    <ul class="list-group  d-flex justify-content-between">
        <% tasks.forEach(task =>{ %>
           <div class = 'd-flex justify-content-between list-group-item p-2' style="background-color: white;">
            <div>
                <form action="/api/v1/tasks/<%= task.id %>?_method=PATCH" method = 'post'>
                    <li class=" d-flex justify-content-between">
                        <div class="">
                            <input  type="checkbox"  name = 'myclick' value= "on" <%= task.completed ? 'checked' : '' %> id= "<%= task.id %>"; onChange="this.form.submit()" >
                        <%= task.name %>
                        </div>
                    </li>
                </form>
            </div>
            <div>
                <form action="">
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-dark"><i class="fa-regular fa-pen-to-square"></i></a>
                   <button type="submit" class ='btn btn-link'> <i class="fa-solid fa-trash-can ms-2 text-danger"></i></button>
                    </div>
                </form>
            </div>
           </div>
        <%}) %>
      </ul>
    
  </div>
<%- include('partials/footer.ejs') -%>
